<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../layout/head') %>
</head>

<body>
  <header>
    <%- include ('../layout/header') %>
  </header>

  <main class="h-screen w-full flex items-center justify-center">
    <span class="font-bold text-lg">you're in the midst of nowhere!!</span>
    <a href="/">Go go home</a>
  </main>
</body>

</html>
