<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../layout/head') %>
  <style>
    .w-30rem {
      width: 30rem;
    }
  </style>
</head>

<body>
  <div class="container m-auto flex items-center justify-center h-screen">
    <form class="w-30rem shadow-xl rounded p-4 border border-gray-200 flex flex-col items-center">
      <p class="text-center font-bold mb-6 text-lg">login!!</p>
      <div class="flex items-center w-full">
        <span class="w-40">email</span>
        <input id="email" name="email" type="text"
          class="outline-none px-4 py-1 focus:border-blue-500 rounded-sm border border-gray-300 flex-1">
      </div>
      <div class="flex items-center mt-4 w-full">
        <span class="w-40">password </span>
        <input id="password" name="password" type="password"
          class="flex-1 border border-gray-300 focus:border-blue-500 outline-none px-4 py-1 rounded-sm">
      </div>
      <div class="flex justify-end mt-4 w-full">
        Don't have an account <a class="ml-1 hover:underline text-blue-500 font-bold" href="/register">register</a>
      </div>
      <button id="login" name="confirm-password" type="submit"
        class="focus:outline-none mt-6 rounded-sm bg-blue-500 hover:bg-blue-600 text-white hover:shadow-lg px-3 py-1">login</button>
    </form>
  </div>
</body>
<script>
  $('#login').on('click', function (event) {
    event.preventDefault();
    const $self = $(this);
    const email = $self.parent().find("#email").val(),
        password = $self.parent().find("#password").val();
    $.post({
        contentType: 'application/json',
        dataType: 'json',
        url: '/login',
        data: JSON.stringify({
          email,
          password
        })
      })
      .done(function (res) {
        console.log('login res: ', res);
      })
  })
</script>

</html>
