<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../layout/head') %>
</head>

<body>
  <div class="container m-auto flex items-center justify-center h-screen">
    <span class="text-lg font-bold">Protected page!!</span>
  </div>
</body>
<script>
</script>

</html>
